body{
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
}
.box{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    
}
.container{
    box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.43);
    border-radius: 1.2rem;
    overflow: hidden;
    margin:auto;
    max-width: 600px;
}
#top-section{
    background: linear-gradient( hsl(241, 81%, 54%),hsl(252, 100%, 67%));
    color: hsl(0, 0%, 100%);
    border-radius: 1.2rem;
}
#circle {
    width: 9rem;
    aspect-ratio: 1/1;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#total{
    margin: 0;
}
#text-summary{
    text-align: start;
}
#reaction{
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.03);
    padding:0.7rem;
    border-radius: 10px;

}
#memory{
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.03);
    padding:0.7rem;
    border-radius: 10px;
}
#verbal{
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.03);
    padding:0.7rem;
    border-radius: 10px;
} 
#visual{
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.03);
    padding:0.7rem;
    border-radius: 10px;
}
button{
    border-style: none;
    padding: 15px;
    border-radius: 20px;
    color:hsl(243, 64%, 95%);
    background-color: hsl(224, 30%, 27%);
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;
}
button:hover{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}

.fs-6 img{
    margin-right:0.5rem ;
}


/* Font */
#top-section .fs-5, .fs-6{
    color:hsl(241, 100%, 89%);
}
#top-section h1{
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}
.score{
    color:hsl(241, 100%, 89%) ;
}
.total-score{
    color:black;
}
@media (max-width: 576px){
    #top-section{
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    .container{
        box-shadow: none;
        border-radius: 0;
        
    }

}